/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/storage/fonts
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.lock
/public/mix-manifest.json
package-lock.json
_ide_helper.php
/.htaccess
composer.phar
/.well-known