.text-justify{
  text-align: justify;
}
.cursor-pointer {
  cursor: pointer;
}

.space_top_20px {
  margin-top: 20px;
}

.space_top_30px {
  margin-top: 30px;
}

.space_top_50px {
  margin-top: 50px;
}

.space_top_80px {
  margin-top: 80px;
}

.space_top_100px {
  margin-top: 100px;
}

.space_bottom_20px {
  margin-bottom: 20px;
}

.space_bottom_30px {
  margin-bottom: 30px;
}

.space_bottom_50px {
  margin-bottom: 50px;
}

.space_bottom_80px {
  margin-bottom: 80px;
}

.space_bottom_100px {
  margin-bottom: 100px;
}
