$bg-light-color: #f8f9ff;
$bg-light-hover-color: #f0f0f1;
$bg-gray-color: #F2F4F8;
$bg-white-color: #ffffff;
$light-gray-color: #edf2f7;
$meta-gray-color: #ccc;
$blue-color: #0156D0;
$dark-blue-color: #003171;
$light-orange-color: #FFF7E6;
$orange-color: #FFAE00;
$light-tur-color: #EBF9F4;
$tur-color: #52BF97;
$light-wine-color: #FFF0F5; 
$wine-color: #BF4E6A;
$btn-light-color: #7791B2;
$light-black-color: #4E4B4B;
$input-color:#acccf5;