.files_list {
  .wraper {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    height: 100%;
    border-radius: 8px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    
    .file_image {
      height: 6rem;
      display: flex;
      justify-content: center;
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

    .file_name {
      .weight {
        color: #c4c4c4;
      }
      margin-top: 0.5rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* Số dòng tối đa bạn muốn hiển thị */
      overflow: hidden;
    }
  }
}
